body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
    flex: 1;
}

footer {
    background-color: #222;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    flex-shrink: 0;
    width: 100%;
}

#calendar {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#announcements {
    background-color: #f8f8f8;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
}

#forum-container {
    background-color: #FFFFFF;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.forum-category {
    margin-bottom: 2em;
}

.forum-category h3 {
    color: #6A0DAD;
    margin-bottom: 1em;
}

.forum-thread h4 {
    color: #FFA500;
}

.forum-thread p {
    color: #666;
}

#top-questions {
    margin-top: 2em;
    background-color: #f8f8f8;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#top-questions ul {
    list-style: none;
    padding: 0;
}

#top-questions li {
    margin-bottom: 1em;
}
